
#searchInput{
    height: 2rem;
    background-color:rgba(231, 231, 231, 1);
    padding: 3%;
    border-width: 0ch;

}
.ingredient{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    color:white;
    border-radius: 5px;
    text-align: center;
    button{
        border-width: 0;
        background-color: transparent;
        width: 2.5em;
        margin-right: 0em;
        img{
            width: 100%;
        }
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        overflow: hidden;
       
    }
}
.appareils{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    background-color: green;
    color:white;
    border-radius: 5px;
    text-align: center;
    button{
        border-width: 0;
        background-color: transparent;
        width: 2.5em;
        margin-right: 0em;
        img{
            width: 100%;
        }
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        overflow: hidden;
       
    }
}
.ustensils{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 53, 69);
    color:white;
    border-radius: 5px;
    text-align: center;
    button{
        border-width: 0;
        background-color: transparent;
        width: 2.5em;
        margin-right: 0em;
        img{
            width: 100%;
        }
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        overflow: hidden;
       
    }
}
#ingredients{
    color:white;
    opacity: 1;
    background-color:dodgerblue;
    &:focus + #listeDesElements{
        height: 7rem;
    }
    
}
#listeDesElements{
    position:relative;
    height: 0rem;
    background-color: transparent;
    transition: all 1000ms;
    overflow: hidden;
    border-radius: 10px;
    .col{ 
        position:absolute;
        button{
            margin-right: 5%;
            border: none;
            background-color: transparent;
            color: ghostwhite;
        }
    }
}
#ingredients::placeholder {
    color:white;
    opacity: 1;
    }
#Appareil{
    color:white;
    opacity: 1;
    
}
#Appareil::placeholder {
    color:white;
    opacity: 1;
    }

#Ustensiles{
    color:white;
    opacity: 1;
    
}
#Ustensiles::placeholder {
    color:white;
    opacity: 1;
    }
article{ 
        font-size:0.6rem;
        margin-top: 2em;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgba(231, 231, 231, 1);
;
        .image{
            background-color:grey ;
            height: 14em;
            
        }
        .titreEtTemps{
            p{
            font-size: 1rem;
            font-weight: bold;
            }
            padding: 5%;
            display: flex;
            justify-content: space-between;

        }
        .row{
            padding: 5%;
            ul{
                padding-left: 0ch;
                list-style-type: none;
                li{
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
        
    }
