#changeMode{
    border-radius: 10px;
}

#searchInput{
    height: 2rem;
    background-color:rgba(231, 231, 231, 1);
    padding: 3%;
    border-width: 0ch;

}
.ingredient{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    color:white;
    border-radius: 5px;
    text-align: center;
    button{
        border-width: 0;
        background-color: transparent;
        width: 2.5em;
        margin-right: 0em;
        img{
            height: 2em;
        }
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.appareils{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    background-color: green;
    color:white;
    border-radius: 5px;
    text-align: center;
    button{
        border-width: 0;
        background-color: transparent;
        width: 2.5em;
        margin-right: 0em;
        img{
            width: 100%;
        }
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        overflow: hidden;
       
    }
}
.ustensils{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 53, 69);
    color:white;
    border-radius: 5px;
    text-align: center;
    button{
        border-width: 0;
        background-color: transparent;
        width: 2.5em;
        margin-right: 0em;
        img{
            width: 100%;
        }
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
        overflow: hidden;
       
    }
}
#coloneIngredients{
    transition: all 3s;

}
#ingredients{
    color:white;
    opacity: 1;
    background-color:dodgerblue;
    transition: all 3s;
    margin-right: 20rem;
}
#listeDesElements{
    position:relative;
    
    background-color: transparent;
    transition: all 1000ms;
    overflow: hidden;
    border-radius: 10px;
    .col{ 
        position:absolute;
        
    }
}
button{
    margin-right: 5%;
    border: none;
    background-color: transparent;
    color: ghostwhite;
    text-align: left;
}
#ingredients::placeholder {
    color:white;
    opacity: 1;
    }
#Appareil{
    color:white;
    opacity: 1;
    
}
#Appareil::placeholder {
    color:white;
    opacity: 1;
    }

#Ustensiles{
    color:white;
    opacity: 1;
    
}
#Ustensiles::placeholder {
    color:white;
    opacity: 1;
    }
article{ 
        font-size:0.6rem;
        margin-top: 2em;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgba(231, 231, 231, 1);
        height: 90%;
        .image{
            background-color:grey ;
            height: 14em;
            
        }
        .titreEtTemps{
            p{
            font-size: 1rem;
            font-weight: bold;
            }
            padding: 5%;
            display: flex;
            justify-content: space-between;

        }
        .row{
            padding: 5%;
            height: 50%;
            ul{
                padding-left: 0ch;
                list-style-type: none;
                li{
                    span{
                        font-weight: bold;
                    }
                }
            }
            p{
                display: -webkit-box;
                -webkit-line-clamp: 8;
                line-clamp: 8;
                -webkit-box-orient: vertical;
                
                text-overflow: ellipsis;
                overflow: hidden;
            }
            p:after{
                box-sizing: border-box;
                content: "..."; 
            }
        }
        
    }
