#changeMode {
  border-radius: 10px;
}

#RechercheGenerale {
  position: relative;
}

#RechercheGenerale #searchInput {
  height: 2rem;
  background-color: #e7e7e7;
  padding: 3%;
  border-width: 0ch;
}

#RechercheGenerale #loupe {
  position: absolute;
  width: 3%;
  top: 20%;
  right: 2%;
}

.ingredient {
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.ingredient button {
  border-width: 0;
  background-color: transparent;
  width: 2.5em;
  margin-right: 0em;
}

.ingredient button img {
  height: 2em;
}

.ingredient p {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appareils {
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: green;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.appareils button {
  border-width: 0;
  background-color: transparent;
  width: 2.5em;
  margin-right: 0em;
}

.appareils button img {
  width: 100%;
}

.appareils p {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
}

.ustensils {
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.ustensils button {
  border-width: 0;
  background-color: transparent;
  width: 2.5em;
  margin-right: 0em;
}

.ustensils button img {
  width: 100%;
}

.ustensils p {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
}

#ingredients {
  color: white;
  opacity: 1;
  background-color: dodgerblue;
  -webkit-transition: all 3s;
  transition: all 3s;
  margin-right: 20rem;
  padding: 20px;
}

#Appareil {
  color: white;
  opacity: 1;
  padding: 20px;
}

#Ustensiles {
  color: white;
  opacity: 1;
  padding: 20px;
}

#listeDesIngredients .cathEtSparrow, #listeDesAppareils .cathEtSparrow, #listeDesUstensiles .cathEtSparrow {
  position: relative;
}

#listeDesIngredients .cathEtSparrow .sparrow, #listeDesAppareils .cathEtSparrow .sparrow, #listeDesUstensiles .cathEtSparrow .sparrow {
  position: absolute;
  top: 25%;
  width: 20px;
  right: 5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

button {
  margin: 2% 3% 2% 2%;
  border: none;
  background-color: transparent;
  color: ghostwhite;
  text-align: left;
}

#ingredients::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

#ingredients:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#ingredients::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#ingredients::placeholder {
  color: white;
  opacity: 1;
}

#Appareil::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

#Appareil:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#Appareil::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#Appareil::placeholder {
  color: white;
  opacity: 1;
}

#Ustensiles::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

#Ustensiles:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#Ustensiles::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#Ustensiles::placeholder {
  color: white;
  opacity: 1;
}

article {
  font-size: 0.6rem;
  margin-top: 2em;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e7e7e7;
  height: 90%;
}

article .image {
  background-color: grey;
  height: 14em;
}

article .titreEtTemps {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .titreEtTemps p {
  font-size: 1rem;
  font-weight: bold;
  max-width: 70%;
}

article .titreEtTemps .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .titreEtTemps .clock img {
  width: 20px;
  margin-right: 5px;
}

article .row {
  padding: 5%;
  height: 50%;
}

article .row ul {
  padding-left: 0ch;
  list-style-type: none;
}

article .row ul li span {
  font-weight: bold;
}

article .row p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

article .row p:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "...";
}
/*# sourceMappingURL=style.css.map */